@use '../abstracts/variables';
@use '../abstracts/mixins';

/*****************/
/* FOOTER LAYOUT */
/*****************/

.footer {
    background-color: #F2F2F2;

    &__background {
        margin-bottom: -8px;

        @include mixins.custom-breakpoint(small) {
            margin-bottom: 15px;
        }
    }

    &__container {
        margin-top: -40px;
        background-color: #0a0a0a;
    }

    &__content {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mixins.custom-breakpoint(medium) {
            width: 80%;
        }

        @include mixins.custom-breakpoint(small) {
            width: 90%;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    }

    &__logo {
        height: 40px;

        @include mixins.custom-breakpoint(medium) {
            height: 32px;
        }

        @include mixins.custom-breakpoint(small) {
            height: 28px;
        }
    }

    &__social {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;

        @include mixins.custom-breakpoint(medium) {
            gap: 20px;
        }

        @include mixins.custom-breakpoint(small) {
            width: auto;
        }

        &-link {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-icon {
            width: 30px;
            height: 30px;
            color: variables.$white;
            transition: all .3s ease-in-out;

            @include mixins.custom-breakpoint(medium) {
                width: 25px;
                height: 25px;
            }

            @include mixins.custom-breakpoint(small) {
                width: 23px;
                height: 23px;
            }

            &:hover,
            &:focus,
            &:active {
                color: variables.$primary-color;
                transition: all .3s ease-in-out;
            }

            &--mail {
                width: 38px;
                height: 38px;

                @include mixins.custom-breakpoint(medium) {
                    width: 33px;
                    height: 33px;
                }

                @include mixins.custom-breakpoint(small) {
                    width: 31px;
                    height: 31px;
                }
            }

            &--github {
                &:hover,
                &:focus,
                &:active {
                    color: variables.$github;
                    transition: all .3s ease-in-out;
                }
            }

            &--linkedin {
                &:hover,
                &:focus,
                &:active {
                    color: variables.$linkedin;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }

    &__copyright {
        margin: 0;
        color: variables.$white;

        @include mixins.custom-breakpoint(small) {
            @include mixins.font-size(14px);
        }
    }

    &__copyright-link {
        color: variables.$white;

        &:hover {
            color: variables.$primary-color;
        }
    }
}