@use '../abstracts/variables';
@use '../abstracts/mixins';

/*****************/
/* HEADER LAYOUT */
/*****************/

.header {
    background-color: variables.$white;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include mixins.medium-break {
        flex-direction: column;
    }

    &__container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        line-height: 0;
        margin: 0;
    }

    &__logo {
        height: 50px;

        @include mixins.medium-break {
            height: 70px;
            margin-bottom: 30px;
        }
    }

    &__nav {
        display: flex;
        gap: 2.938rem;
        align-items: center;
    }

    &__nav-link {
        @include mixins.font-size(20px);
        font-family: variables.$font-title;
        color: variables.$black;
        font-weight: 600;
        position: relative;
        transition: all 0.3s ease-in-out;

        &--txt {

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: variables.$primary-color;
                transition: width 0.3s ease-in-out;
            }

            &:hover,
            &.active {
                color: variables.$primary-color;
                transition: all 0.3s ease-in-out;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    &__contact {
        position: absolute;
        bottom: -70px;
        right: 0;
        background-color: variables.$dark;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border: 2px solid variables.$dark;
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        z-index: 1;
        opacity: 0;

        &::after {
            content: "";
            position: absolute;
            top: -22px;
            right: 20px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent variables.$dark transparent;
        }

        &.show {
            opacity: 1;
            transition: opacity 0.6s ease-in-out;
        }
    }

    &__svg {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        color: variables.$white;
        transition: all .3s ease-in-out;

        &:hover,
        &:focus,
        &:active {
            color: variables.$primary-color;
        }

        &--github {
            &:hover,
            &:focus,
            &:active {
                color: #6865E9;
                transition: all .3s ease-in-out;
            }
        }

        &--linkedin {
            &:hover,
            &:focus,
            &:active {
                color: #0a66c2;
                transition: all .3s ease-in-out;
            }
        }
    }
}