@use '../abstracts/variables';
@use '../abstracts/mixins';

/*****************/
/* HEADER LAYOUT */
/*****************/

.header {
    background-color: variables.$white;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &__container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        // @include mixins.medium-break {
        //     flex-direction: column;
        // }

        @include mixins.small-break {
            flex-direction: row;
        }
    }

    h1 {
        line-height: 0;
        margin: 0;
    }

    &__logo {
        height: 50px;

        @include mixins.medium-break {
            height: 50px;
        }

        @include mixins.small-break {
            height: 50px;
            margin-bottom: 0;
        }
    }

    &__nav {
        display: flex;
        gap: 2.938rem;
        align-items: center;

        @include mixins.small-break {
            display: none;
        }

        &--mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            width: 50%;
            position: absolute;
            top: 50px;
            right: 0;
            background-color: variables.$dark;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            z-index: 10;
            padding: 1rem;
            transition: transform 0.3s ease-in-out;

            @include mixins.small-break {
                display: flex;
                color: variables.$white;
            }
        }
    }

    &__nav-link {
        @include mixins.font-size(20px);
        font-family: variables.$font-title;
        color: variables.$black;
        font-weight: 600;
        position: relative;
        transition: all 0.3s ease-in-out;

        @include mixins.medium-break {
            @include mixins.font-size(18px);
        }

        &--txt {

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: variables.$primary-color;
                transition: width 0.3s ease-in-out;
            }

            &:hover,
            &.active {
                color: variables.$primary-color;
                transition: all 0.3s ease-in-out;

                &::after {
                    width: 100%;
                }
            }

            @include mixins.small-break {
                color: variables.$white;
            }
        }
    }

    &__mobile-btn {
        display: none;

        @include mixins.small-break {
            color: variables.$dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                color: variables.$primary-color;
                transition: all .3s ease-in-out;
            }
        }

        &.open {
            transform: rotate(90deg);
        }
    }

    &__contact {
        position: absolute;
        bottom: -85px;
        right: 0;
        background-color: variables.$dark;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border: 2px solid variables.$dark;
        border-radius: 10px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        z-index: 1;
        opacity: 0;

        @include mixins.medium-break {
            bottom: -78px;
        }

        @include mixins.medium-break {
            bottom: -88px;
        }

        &::after {
            content: "";
            position: absolute;
            top: -22px;
            right: 20px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent variables.$dark transparent;
            display: none;
        }

        &.show {
            opacity: 1;
            transition: opacity 0.6s ease-in-out;

            &::after {
                display: block;
            }
        }

        &-link {
            display: flex;
            flex-direction: column;
            align-items: start;
        }

        &-icon {
            color: variables.$white;
            transition: all .3s ease-in-out;
            width: 38px;
            height: 38px;

            @include mixins.medium-break {
                width: 33px;
                height: 33px;
            }

            &:hover,
            &:focus,
            &:active {
                color: variables.$primary-color;
            }

            &--mail {
                width: 40px;
                height: 40px;

                @include mixins.medium-break {
                    width: 35px;
                    height: 35px;
                }
            }

            &--github {

                &:hover,
                &:focus,
                &:active {
                    color: variables.$github;
                    transition: all .3s ease-in-out;
                }
            }

            &--linkedin {

                &:hover,
                &:focus,
                &:active {
                    color: variables.$linkedin;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}