@use '../abstracts/variables';
@use '../abstracts/mixins';

/********************************/
/* HERO BANNER COMPONENT STYLE */
/*******************************/

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;

    &__intro {
        @include mixins.font-size(55px);
        font-weight: 500;
        font-family: variables.$font-secondary;
        color: variables.$primary-color;
        margin: 0;

        @include mixins.medium-break {
            @include mixins.font-size(45px);
        }

        @include mixins.small-break {
            @include mixins.font-size(38px);
            line-height: 1;
        }
    }

    &__title {
        font-family: variables.$font-title;
        @include mixins.font-size(70px);
        font-weight: 800;
        line-height: 1;
        margin: 0;

        @include mixins.medium-break {
            @include mixins.font-size(55px);
        }

        @include mixins.small-break {
            @include mixins.font-size(51px);
        }
    }

    &__subtitle {
        width: 85%;
        @include mixins.font-size(20px);
        margin: 0 0 30px 0;

        @include mixins.medium-break {
            @include mixins.font-size(18px);
        }
    }
}