@use '../abstracts/variables';
@use '../abstracts/mixins';

/*******************************/
/* LINK BUTTON COMPONENT STYLE */
/******************************/

.btn {
    @include mixins.font-size(20px);
    font-weight: 700;
    background-color: variables.$primary-color;
    color: variables.$white;
    padding: 15px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @include mixins.custom-breakpoint(medium) {
        @include mixins.font-size(18px);
        padding: 18px 32px;
    }

    @include mixins.custom-breakpoint(small) {
        @include mixins.font-size(16px);
        padding: 16px 28px;
    }

    &:hover {
        background-color: darken(variables.$primary-color, 8);
        transition: all .3s ease-in-out;
    }

    &--about {
        background: linear-gradient(to right, variables.$primary-color 0%, variables.$primary-color 50%, variables.$black 50%, variables.$black 100%);
        background-size: 200% 100%;
        transition: background-position 0.3s ease, color 0.3s ease, border-color 0.5s ease;
        color: variables.$white;
        padding: 15px 25px;

        &:hover {
            color: variables.$white;
            background-position: -100% 0;
            border-color: variables.$white;
        }
    }

    &--link {
        padding: 10px 25px;

        @include mixins.custom-breakpoint(small) {
            padding: 5px 15px;
        }

        &-demo {
            background-color: variables.$dark;

            &:hover {
                background-color: lighten(variables.$dark, 15%);
                transition: all .3s ease-in-out;
            }
        }

        &-gitlab {
            background-color: variables.$gitlab;

            &:hover {
                background-color: darken(variables.$gitlab, 15%);
                transition: all .3s ease-in-out;
            }
        }

        &-github {
            background-color: variables.$github;

            &:hover {
                background-color: lighten(variables.$github, 10%);
            }
        }
    }
}