@use '../abstracts/variables';
@use '../abstracts/mixins';

/**************************/
/* MODAL COMPONENT STYLE */
/**************************/

.modal {

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box {
        position: relative;
        height: 90%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        padding: 40px 70px;
    }

    &__container {
        max-width: 1000px;
        padding: 60px;
        background-color: variables.$bg-light-grey;
        border-radius: 10px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        &::-webkit-scrollbar {
            width: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: variables.$soft-grey;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-track {
            margin: 40px 0;
        }
    }

    &__close-btn,
    &__previous-btn,
    &__next-btn {
        color: variables.$white;
        position: absolute;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            color: variables.$primary-color;
            transition: background-color 0.3s ease-in-out;
        }
    }

    &__close-btn {
        top: 3px;
        right: 3px;
    }

    &__previous-btn {
        top: 50%;
        left: 3px;
    }

    &__next-btn {
        top: 50%;
        right: 3px;
    }


    &__head {
        width: 859px;
        max-width: 100%;
        height: 300px;
    }

    &__thumbnail {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

        &-refocused {
            object-position: center top;
        }
    }

    &__content {
        width: 859px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 75%;

        &-title,
        &-subtitle,
        &-description,
        &-skills {
            margin: 0;
        }

        &-title {
            @include mixins.font-size(30px);
            line-height: 1;
        }

        &-subtitle {
            @include mixins.font-size(22px);
        }

        &-description {
            margin-top: 15px;
        }

        &-skills {
            margin-top: 15px;

            p {
                margin: 0;
                font-weight: 700;
            }

            ul {
                margin: 0;
                padding: 0;
            }

            li {
                list-style: inside;
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__categories {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-title {
            @include mixins.font-size(22px);
            margin: 0;
        }

        &-icon {
            display: flex;
            gap: 8px;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            @include mixins.font-size(22px);
            margin: 0;
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    &__screen {
        width: 859px;
        max-width: 100%;
        height: 600px;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}