/**********/
/* FONTS */
/*********/

$font-default: 'Roboto', sans-serif;
$font-title: 'Heebo', sans-serif;
$font-secondary: 'Caveat', cursive;

/***********/
/* COLORS */
/**********/

$primary-color: #17B7A1;
$secondary-color: #17665C;
$white: #ffffff;
$black: #000000;
$dark: #212121;
$error: #ff0033;
$bg-light-grey: darken($white, 5%);


/********/
/* SIZE */
/********/

$wrapper-xl: 30px 5% 30px 5%;
$wrapper-l: 30px 2% 30px 2%;
$wrapper-layout: 20px 5% 20px 5%;

/***************/
/* RESPONSIVE */
/**************/

// 1.Breakpoints map for responsive
$breakpoints: (
    large: 1440px,
    medium: 1024px,
    small: 768px
);