/**********/
/* FONTS */
/*********/

$font-default: 'Roboto', sans-serif;
$font-title: 'Heebo', sans-serif;
$font-secondary: 'Caveat', cursive;

/***********/
/* COLORS */
/**********/

$primary-color: #17B7A1;
$secondary-color: #17665C;
$white: #ffffff;
$black: #000000;
$dark: lighten($black, 13%);
$bg-light-grey: darken($white, 5%);
$soft-grey: darken($white, 33%);
$error: #ff0033;
$github: #6865E9;
$gitlab: #e24329;
$linkedin: #0a66c2;

/***************/
/* RESPONSIVE */
/**************/

// 1.Breakpoints map for responsive
$breakpoints: (
    large: 1440px,
    medium: 1024px,
    small: 768px,
    xsmall: 480px
);