@use '../abstracts/variables';
@use '../abstracts/mixins';

/********************/
/* ABOUT PAGE STYLE */
/*******************/

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;

    &.loaded {
        opacity: 1;
        transition: opacity 0.6s ease-in;
    }

    &__title {
        font-family: variables.$font-secondary;
        @include mixins.font-size(50px);
        color: variables.$black;
        font-weight: 700;
        margin: 0;
        line-height: 1;
    }

    &__paragraph {
        @include mixins.font-size(20px);
        line-height: 1.8;
        margin: 0;

        &--big {
            @include mixins.font-size(22px);
            font-weight: 700;
        }
    }

    &__description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include mixins.custom-breakpoint(medium) {
            flex-direction: column-reverse;
            align-items: center;
        }

        &-content {
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            @include mixins.custom-breakpoint(medium) {
                width: 100%;
            }
        }

        aside {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 40%;

            @include mixins.custom-breakpoint(medium) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            @include mixins.custom-breakpoint(small) {
                width: 100%;
                flex-direction: column;
                align-items: center;
            }
        }

        &-photography {
            width: 100%;
            height: 500px;
            border-radius: 10px;

            img {
                width: 100%;
                height: 100%;
                border: 10px variables.$dark solid;
                object-fit: cover;
                border-radius: 10px;

                @include mixins.custom-breakpoint(medium) {
                    object-position: center top;
                }

                @include mixins.custom-breakpoint(small) {
                    object-position: center top;
                }
            }
        }

        &-cta {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 15px;

            p,
            a {
                text-align: center;
                margin: 0 auto;
            }

            a {
                width: 60%;

                @include mixins.custom-breakpoint(large) {
                    width: auto;
                }
            }
        }
    }

    &__skills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 15px;
            margin: 0;
            padding: 0;
        }

        &-anchor {
            display: block;
            width: 70px;
            height: 70px;
        }

        &-tooltip {
            background-color: variables.$primary-color;
            opacity: 1;
        }

        &-arrow {
            background-color: variables.$primary-color;
        }

        &-icon {
            color: variables.$black;
            width: 70px;
            height: 70px;

            @include mixins.custom-breakpoint(medium) {
                width: 60px;
                height: 60px;
            }

            @include mixins.custom-breakpoint(small) {
                width: 50px;
                height: 50px;
            }
        }
    }

    &__interests {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-items {
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 30px;

            @include mixins.custom-breakpoint(small) {
                justify-content: center;
            }
        }
    }
}