@use '../abstracts/variables';
@use '../abstracts/mixins';

/********************/
/* HOME PAGE STYLE */
/*******************/

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__hero {
        padding-top: 50px;
        z-index: 10;
    }
}