@use '../abstracts/variables';
@use '../abstracts/mixins';

/************************/
/* PORTFOLIO PAGE STYLE */
/************************/

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 50px;
    opacity: 0;

    &.loaded {
        opacity: 1;
        transition: opacity 0.6s ease-in;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        @include mixins.font-size(40px);
        font-weight: 700;
        margin: 0;
    }

    &__subtitle {
        @include mixins.font-size(18px);
        margin: 0;
    }

    &__works {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 30px;
        overflow: hidden;
    }
}