@use '../abstracts/variables';
@use '../abstracts/mixins';

/************/
/* GENERAL */
/***********/

* {
    box-sizing: border-box;
}

*:focus-visible {
    box-shadow: 0 0 0 3px variables.$black;
    outline: 0;
}

body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    padding: 30px 5% 30px 5%;
    flex: 1;
    background: variables.$bg-light-grey;

    &--mint {
        background: variables.$primary-color;
    }
}

html {
    font-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}